* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.background_inabout {

    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

 .box_inabout{
   width: 90%;
   height: 80%;
   margin: auto;
   margin-top:3%;
   /* background-color: (#284D5C,0.9); */
   background-color: rgb(40, 77, 92, .5);
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}


.aboutus{
    font-size: 70px;
    color: rgb(23, 144, 236);
    text-shadow: yellow 0px 0px 7px,   yellow 0px 0px 7px,   yellow 0px 0px 7px,
    yellow 0px 0px 7px,   yellow 0px 0px 7px,  yellow 0px 0px 7px;
    font-weight:500;
margin-top: 10px;
letter-spacing: 7px;
  }


  .flexboxabout{
    display: flex;
    width: 90%;
    justify-content: space-around;
  }

  .mediumletter{
    color: white;
    font-size: 35px;
    font-weight: 600;
  }

  .bigletter{
    color: yellow;
    font-size: 40px;
    font-weight: bold;
  }

  .smallletter{
    color: white;
    font-size: 30px;
  }

  .imgabout{
    width: 180px;
    height: 180px;
    margin: auto;
    margin-left: 20%;
  }